@define-color bg #0d0e10;
@define-color fg #E1E1E1;
@define-color gray1 #8DAA9A;
@define-color gray2 #202020;
@define-color gray3 #80909F;
@define-color gray4 #F4BF75;
@define-color gray5 #AA749F;
@define-color fg_bright #FFFFFF;

window {
    background-color: @bg;
    border: 2px solid @gray3;
}

input {
    background-color: @bg;
    color: @fg;
    border: 1px solid @gray2;
}

input:selected {
    background-color: @gray1;
    color: @fg_bright;
}

#entry {
    color: @fg;
    background-color: @bg;
    padding: 5px;
    margin: 2px;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}

scrollbar {
    background-color: @bg;
}

scrollbar slider {
    background-color: @gray2;
    border-radius: 5px;
}

scrollbar slider:hover {
    background-color: @gray3;
}