themes {
    current {
        text_unselected {
            base 225 225 225
            background 32 32 32
            emphasis_0 191 128 113
            emphasis_1 162 194 183
            emphasis_2 168 192 112
            emphasis_3 191 138 180
        }
        text_selected {
            base 225 225 225
            background 32 32 32
            emphasis_0 191 128 113
            emphasis_1 162 194 183
            emphasis_2 168 192 112
            emphasis_3 191 138 180
        }
        ribbon_selected {
            base 32 32 32
            background 168 192 112
            emphasis_0 200 126 107
            emphasis_1 191 128 113
            emphasis_2 191 138 180
            emphasis_3 162 181 193
        }
        ribbon_unselected {
            base 32 32 32
            background 225 225 225
            emphasis_0 200 126 107
            emphasis_1 225 225 225
            emphasis_2 162 181 193
            emphasis_3 191 138 180
        }
        table_title {
            base 168 192 112
            background 0
            emphasis_0 191 128 113
            emphasis_1 162 194 183
            emphasis_2 168 192 112
            emphasis_3 191 138 180
        }
        table_cell_selected {
            base 225 225 225
            background 32 32 32
            emphasis_0 191 128 113
            emphasis_1 162 194 183
            emphasis_2 168 192 112
            emphasis_3 191 138 180
        }
        table_cell_unselected {
            base 225 225 225
            background 32 32 32
            emphasis_0 191 128 113
            emphasis_1 162 194 183
            emphasis_2 168 192 112
            emphasis_3 191 138 180
        }
        list_selected {
            base 225 225 225
            background 32 32 32
            emphasis_0 191 128 113
            emphasis_1 162 194 183
            emphasis_2 168 192 112
            emphasis_3 191 138 180
        }
        list_unselected {
            base 225 225 225
            background 32 32 32
            emphasis_0 191 128 113
            emphasis_1 162 194 183
            emphasis_2 168 192 112
            emphasis_3 191 138 180
        }
        frame_selected {
            base 168 192 112
            background 0
            emphasis_0 191 128 113
            emphasis_1 162 194 183
            emphasis_2 191 138 180
            emphasis_3 0
        }
        frame_highlight {
            base 191 128 113
            background 0
            emphasis_0 191 138 180
            emphasis_1 191 128 113
            emphasis_2 191 128 113
            emphasis_3 191 128 113
        }
        exit_code_success {
            base 168 192 112
            background 0
            emphasis_0 162 194 183
            emphasis_1 32 32 32
            emphasis_2 191 138 180
            emphasis_3 162 181 193
        }
        exit_code_error {
            base 200 126 107
            background 0
            emphasis_0 244 191 117
            emphasis_1 0
            emphasis_2 0
            emphasis_3 0
        }
        multiplayer_user_colors {
            player_1 191 138 180
            player_2 162 181 193
            player_3 0
            player_4 244 191 117
            player_5 162 194 183
            player_6 0
            player_7 200 126 107
            player_8 0
            player_9 0
            player_10 0
        }
    }
}
